body {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 1.5rem;
    margin: 2em 0;
}

a {
    text-decoration: none;
}

.main-content {
    text-align: center;
    margin: 0 1rem;
}

.subdued-text {
    color: gray;
    font-size: .8em;
}

.reminder-button-container {
    margin-top: 2em;
    background-color: #41ab6b;
    color: white;
    text-align: center;
    padding: 2em 0;
    width: 100%;
}

.reminder-button {
    display: inline-block;
}

#room-members {
    margin-bottom: 1em;
}

#room-details,
#room-form,
#assignment,
.room-member {
    animation: fadein 1.5s;
}

#room-input {
    text-transform: lowercase;
}

.room-member {
    background: repeating-linear-gradient(
        45deg,
        #29a329,
        #29a329 10px,
        #1e7b1e 10px,
        #1e7b1e 20px
    );
    border-radius: 1rem;
    box-shadow: 0 6px #ab3c3c;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 1rem 2rem;
    margin: 1rem;
}

.userFormLabel {
    display: block;
    margin-bottom: 1rem;
}

.input[type="text"] {
    color: #969696;
    font-size: 2rem;
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    outline: none;

    max-width: 100%; // better fit on mobile screens
}

.input[type="text"]:focus,
.input[type="text"].focus {
    border-bottom: solid 2px #969696;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
